.cartoonArea {
    /* This could be done in one single declaration. See the extended sample. */
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    height: 600px;
    outline: black 5px solid;
}
.cartoonContainer{
    margin-top: 30px;
    
}
body{
    background-color: #909090;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
.container{
    margin-top: 30px;
}
.btnDiv{
    padding-top: 30px;
    padding-right: 30px;
}
.btn-primary {
    font-size: 18px;
    
    color: #fff;
    background-color: black;
    border-color: black; /*set the color you want here*/
}

#fixed:hover {
    color: black;
    background-color: white;
    border-color: black;/*set the color you want here*/
    border-width: 2px;
}

.box {
    margin: 20px;
}

#rec:hover {
    color: black;
    background-color: white;
    border-color: black;/*set the color you want here*/
    border-width: 2px;
}
input {
    width: 80px
}
.btnDiv2{
    padding-top: 0px;
    padding-right: 30px;
}
.msgDiv{
    padding-top: 10px;
}
#msg{
    color:red;
    font-size: 20px;
}